html {
    background-color: #F2EBE1;
    font-family: tahoma;
}

#input-form {
    border: 1px solid black;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: #056794;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 10px 10px 5px #888888;
}

#tags {
    width: 374px;
    height: 30px;
    font-size: 24px;
    padding: 0 10px 0 10px;
}

#button {
    height: 36px;
    vertical-align: 24%;
    background-color: #51B8BF;
    border: 2px solid #F2EBE1;
    font-weight: bold;
    border-radius: 7px;
    color: #313131;
}

#button:hover {
    cursor: pointer;
}

#result {
    border: 1px dashed black;
    width: 500px;
    margin: 30px auto;
    font-family: ‘Lucida Console’, Monaco, monospace;
    font-weight: bold;
    background-color: rgba(170, 170, 170, 0.48);
    box-shadow: 10px 10px 5px #888888;
    color: darkgreen;
}

.print {
    margin-left: 140px;
}

.print:not(:nth-of-type(1)) {
    margin-top: -17px;
}